In [1]:
from Model import Mekong_delta_model
import matplotlib.pyplot as plt
import networkx as nx

c:\Users\sjuul\anaconda3\envs\afstuderen2025\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
model = Mekong_delta_model(seed=20)

for j in range(20):
    model.step()

In [3]:
agent_data = model.datacollector.get_agent_vars_dataframe()
#agent_data = agent_data.xs(3, level="AgentID")
agent_data

              Cost_farming  Cost_living        Income        Savings  \
Step AgentID
1    1            0.000000         6600      0.000000    1289.870974
     2            0.000000         5500      0.000000    1965.422329
     3            0.000000         7700      0.000000    1979.597634
     4            0.000000         8800      0.000000    2029.762244
     5            0.000000         4400      0.000000    2275.418570
...                    ...          ...           ...            ...
20   16         252.246083         7700  26167.865787  407617.482263
     17         368.679125         5500  39302.086819  602613.997853
     18         131.944020         6600   9087.629383   59516.789740
     19         135.772348         9900  16136.488359  133083.990971
     20         200.175039         8800  22829.084722  322046.118567

              Salinity  livelihood                              Ages
Step AgentID
1    1        2.853293    0.000000          [12, 16, 41, 28, 57, 74]
     2        2.105394    0.000000              [31, 45, 76, 56, 68]
     3        4.511680    0.000000      [16, 20, 45, 29, 76, 62, 52]
     4        2.877973    0.000000  [21, 21, 21, 20, 48, 21, 65, 55]
     5        2.185128    0.000000                  [21, 22, 53, 76]
...                ...         ...                               ...
20   16       1.982147    0.618523          [21, 23, 22, 44, 64, 75]
     17       3.121577    0.596992                          [51, 51]
     18       5.379157    0.434478                  [19, 21, 56, 68]
     19       3.848431    0.385757          [35, 35, 30, 36, 64, 45]
     20       1.153369    0.594052          [37, 34, 34, 33, 40, 51]

[400 rows x 7 columns]