In [1]:
from Model import Mekong_delta_model
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings("ignore")

c:\Users\sjuul\anaconda3\envs\afstuderen2025\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
model = Mekong_delta_model()

for j in range(20):
    model.step()

375.4010968728385
349.4115486716023
284.1549786458784
299.92874250239356
211.84082658955856
374.53426773277045
412.387204296012
256.10941781878364
314.0341218424005
415.14835065554985
217.66642258132356
422.8687636698694
341.85495883567387
303.9193535480207
371.4230934972769
374.35279134358586
377.91255798601605
361.4371606584069
330.9902749857872
319.4453152927558
312.39887980930666
348.4784934782424
425.592079478825
243.77177118648126
302.5975943735849
316.43080482993355
422.6387942304741
338.012748005651
335.1413952581662
236.42048839808172
211.0209917052522

In [3]:
agent_data = model.datacollector.get_agent_vars_dataframe()
agent_data = agent_data.xs(16, level="AgentID")
agent_data

,Cost_farming,Cost_living,Income,Crop type,Savings,Loan size,Salinity,livelihood,extra income bad yield,Ages,MOTA scores,Change,Possible strategies
Step,,,,,,,,,,,,,
1,0.000000,5500,0.000000,Triple_rice,1931.424165,0.000000,4.502276,0,0.000000,"[13, 11, 40, 43, 52]",{},None,"[Drainage, Water Reservoir, Crop Diversification]"
2,142.433532,5500,790.056711,Triple_rice,-8841.905313,4420.952656,4.502276,"{'human': 0.4787295683571658, 'social': 0.5, '...",349.411549,"[12, 14, 41, 44, 53]","{'Drainage': 0.13064989722789663, 'Water Reser...",Water Reservoir,"[Drainage, Crop Diversification]"
3,142.433532,5500,784.856370,Triple_rice,-33819.917607,19120.435132,4.502276,"{'human': 0.8120629016904992, 'social': 0.0, '...",0.000000,"[13, 15, 42, 45, 54]","{'Drainage': 0.3333333333333333, 'Crop Diversi...",Drainage,[Crop Diversification]
4,142.433532,5500,868.307426,Triple_rice,-38594.043713,19120.435132,4.502276,"{'human': 0.4787295683571658, 'social': 0.0, '...",0.000000,"[14, 16, 43, 46, 55]",{'Crop Diversification': 0.13298043565476828},None,[Crop Diversification]
5,142.433532,5500,855.124792,Triple_rice,-107483.140039,63301.787585,4.502276,"{'human': 0.8120629016904992, 'social': 0.0, '...",0.000000,"[15, 17, 44, 47, 56]",{'Crop Diversification': 0.3333333333333333},Crop Diversification,[]
6,142.433532,5500,791.495560,Triple_rice,-112334.078011,63301.787585,4.502276,"{'human': 0.4787295683571658, 'social': 0.0, '...",0.000000,"[16, 18, 45, 48, 57]",{},None,[]
7,142.433532,5500,729.330635,Triple_rice,-117247.180908,63301.787585,4.502276,"{'human': 0.4787295683571658, 'social': 0.0, '...",0.000000,"[17, 19, 46, 49, 58]",{},None,[]
8,142.433532,5500,870.488529,Triple_rice,-122019.125912,63301.787585,4.502276,"{'human': 0.4787295683571658, 'social': 0.0, '...",0.000000,"[18, 20, 47, 50, 59]",{},None,[]
9,142.433532,5500,877.426301,Triple_rice,-126784.133144,63301.787585,4.502276,"{'human': 0.4787295683571658, 'social': 0.0, '...",0.000000,"[19, 21, 48, 51, 60]",{},None,[]
10,142.433532,5500,780.686514,Triple_rice,-131645.880162,63301.787585,4.502276,"{'human': 0.4787295683571658, 'social': 0.0, '...",0.000000,"[20, 22, 49, 52, 61]",{},None,[]
11,142.433532,5500,888.245509,Triple_rice,-136400.068186,63301.787585,4.502276,"{'human': 0.4787295683571658, 'social': 0.0, '...",0.000000,"[21, 23, 50, 53, 62]",{},None,[]
12,142.433532,5500,778.031099,Triple_rice,-141264.470619,63301.787585,4.502276,"{'human': 0.4787295683571658, 'social': 0.5, '...",361.437161,"[22, 24, 51, 54, 63]",{},None,[]
13,142.433532,5500,894.893846,Triple_rice,-146012.010305,63301.787585,4.502276,"{'human': 0.8120629016904992, 'social': 0.0, '...",0.000000,"[23, 25, 52, 55, 64]",{},None,[]
14,142.433532,5500,909.399829,Triple_rice,-150745.044009,63301.787585,4.502276,"{'human': 0.4787295683571658, 'social': 0.0, '...",0.000000,"[24, 26, 53, 56, 65]",{},None,[]
15,142.433532,5500,737.465229,Triple_rice,-155650.012312,63301.787585,4.502276,"{'human': 0.4787295683571658, 'social': 0.0, '...",0.000000,"[25, 27, 54, 57, 66]",{},None,[]
16,142.433532,5500,781.858082,Triple_rice,-160510.587763,63301.787585,4.502276,"{'human': 0.4787295683571658, 'social': 0.0, '...",0.000000,"[26, 28, 55, 58, 67]",{},None,[]
17,142.433532,5500,780.100537,Triple_rice,-165372.920758,63301.787585,4.502276,"{'human': 0.4787295683571658, 'social': 0.0, '...",0.000000,"[27, 29, 56, 59, 68]",{},None,[]
18,142.433532,5500,874.962549,Triple_rice,-170140.391741,63301.787585,4.502276,"{'human': 0.4787295683571658, 'social': 0.0, '...",0.000000,"[28, 30, 57, 60, 69]",{},None,[]
19,142.433532,5500,710.824819,Triple_rice,-175072.000455,63301.787585,4.502276,"{'human': 0.4787295683571658, 'social': 0.0, '...",0.000000,"[29, 31, 58, 61, 70]",{},None,[]
20,142.433532,5500,903.047771,Triple_rice,-179811.386216,63301.787585,4.502276,"{'human': 0.8120629016904992, 'social': 0.5, '...",236.420488,"[30, 32, 59, 62, 71]",{},None,[]