In [1]:
from Model import Mekong_delta_model
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings("ignore")

c:\Users\sjuul\anaconda3\envs\afstuderen2025\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
model = Mekong_delta_model()

for j in range(50):
    model.step()

In [5]:
agent_data = model.datacollector.get_agent_vars_dataframe()
agent_data = agent_data.xs(32, level="AgentID")
agent_data

,Cost_farming,Cost_living,Income,Crop type,Savings,Loan size,Salinity,livelihood,income_benefits,Ages,MOTA scores,Change,Possible strategies
Step,,,,,,,,,,,,,
12,0,4400,0,None,-2591.836944,0.0,4.588367,"{'human': 0.43333333333333335, 'social': 0.0, ...",0,"[2, 3, 21, 22]","{'Drainage': 0.3805410339984951, 'Water Reserv...",Water Reservoir,"[Drainage, Crop Diversification]"
24,0,4400,0,None,-6991.836944,0.0,4.588367,"{'human': 0.43333333333333335, 'social': 0.0, ...",0,"[3, 4, 22, 23]","{'Drainage': 0.2305410339984951, 'Crop Diversi...",None,"[Drainage, Crop Diversification]"
36,0,4400,0,None,-11391.836944,0.0,4.588367,"{'human': 0.7666666666666666, 'social': 0.0, '...",0,"[4, 5, 23, 24]","{'Drainage': 0.2773664308238919, 'Crop Diversi...",None,"[Drainage, Crop Diversification]"
48,0,4400,0,None,-15791.836944,0.0,4.588367,"{'human': 0.7666666666666666, 'social': 0.0, '...",0,"[5, 6, 24, 25]","{'Drainage': 0.2773664308238919, 'Crop Diversi...",None,"[Drainage, Crop Diversification]"

In [4]:
model_data = model.datacollector.get_model_vars_dataframe()
model_data

,Income_Agri_small_saline,Salinity_Agri_small_saline,Savings_Agri_small_saline,Income_Agri_small_fresh,Salinity_Agri_small_fresh,Savings_Agri_small_fresh,Income_Agri_middle_saline,Salinity_Agri_middle_saline,Savings_Agri_middle_saline,Income_Agri_middle_fresh,...,Savings_Agri_middle_fresh,Income_Agri_corporate_saline,Salinity_Agri_corporate_saline,Savings_Agri_corporate_saline,Income_Agri_corporate_fresh,Salinity_Agri_corporate_fresh,Savings_Agri_corporate_fresh,Income_Aqua_small,Salinity_Aqua_small,Savings_Aqua_small
0,0.0,4.652069,-2651.163233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4.116951,-3732.716543
1,0.0,4.652069,-5126.194113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4.116951,-8682.716543
2,0.0,4.652069,-7667.691246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4.116951,-13632.716543
3,0.0,4.652069,-10102.740589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4.116951,-18582.716543