In [1]:
from Model import Mekong_delta_model
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings("ignore")

c:\Users\sjuul\anaconda3\envs\afstuderen2025\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
model = Mekong_delta_model()

for j in range(50):
    model.step()

Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 4
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 8
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
Time to harvest!! 12
nieuwe stap! 12
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 16
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 20
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
Time to harvest!! 24
nieuwe stap! 24
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 28
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 32
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
Time to harvest!! 36
nieuwe stap! 36
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 40
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 44
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
Time to harvest!! 48
nieuwe stap! 48

In [5]:
agent_data = model.datacollector.get_agent_vars_dataframe()
agent_data = agent_data.xs(18, level="AgentID")
agent_data

,Cost_farming,Cost_living,Income,Crop type,Savings,Loan size,Salinity,livelihood,income_benefits,Ages,MOTA scores,Change,Possible strategies
Step,,,,,,,,,,,,,
12,382.420589,4400,733.362290,Triple_rice,688.850608,0,5.148862,"{'human': 0.8333333333333334, 'social': 0.5, '...",100,"[2, 36, 37, 66]","{'Drainage': 0.4364269422704339, 'Water Reserv...",Drainage,"[Water Reservoir, Crop Diversification]"
24,382.420589,4400,701.916736,Triple_rice,-185.670306,0,5.148862,"{'human': 0.5, 'social': 0.0, 'financial': 0.0...",150,"[0, 3, 37, 38, 67]","{'Water Reservoir': 0.2864269422704339, 'Crop ...",None,"[Water Reservoir, Crop Diversification]"
36,382.420589,4400,765.210226,Triple_rice,-943.885005,0,5.148862,"{'human': 0.8333333333333334, 'social': 0.5, '...",200,"[0, 1, 4, 38, 39, 68]","{'Water Reservoir': 0.2864269422704339, 'Crop ...",None,"[Water Reservoir, Crop Diversification]"
48,382.420589,4400,820.253467,Triple_rice,-1720.369062,0,5.148862,"{'human': 0.5, 'social': 0.0, 'financial': 0.0...",200,"[1, 2, 5, 39, 40, 69]","{'Water Reservoir': 0.2864269422704339, 'Crop ...",None,"[Water Reservoir, Crop Diversification]"

In [4]:
model_data = model.datacollector.get_model_vars_dataframe()
model_data

,Income_Agri_small_saline,Salinity_Agri_small_saline,Savings_Agri_small_saline,Income_Agri_small_fresh,Salinity_Agri_small_fresh,Savings_Agri_small_fresh,Income_Agri_middle_saline,Salinity_Agri_middle_saline,Savings_Agri_middle_saline,Income_Agri_middle_fresh,Salinity_Agri_middle_fresh,Savings_Agri_middle_fresh,Income_Agri_corporate_saline,Salinity_Agri_corporate_saline,Savings_Agri_corporate_saline,Income_Agri_corporate_fresh,Salinity_Agri_corporate_fresh,Savings_Agri_corporate_fresh
0,462.784369,4.652069,-2213.580232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,448.763994,4.652069,-4637.918980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,453.330286,4.652069,-7087.289480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,453.664191,4.652069,-9543.258279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN